# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!go.mod
!go.sum
*.code-workspace

# Local History for Visual Studio Code
.history/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
tmp/
/out-tsc
out-tsc/
[Bb]in/
# Only exists if Bazel was run
/bazel-out
[Ll]og/
[Ll]ogs/

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace